<%- include('partials/head') -%>

    <div class="head">
        <div class="btn"><a href="login">login</a><a href="register">register</a></div>
    </div>

    <div class="main-content">
        <h1 style="color: #000;"><span>W</span>elcome to our Homepage</h1>
        <h3>An Authentication App, using node js, Express, Ejs, flash, sequelize and mysql database. </h3>
       </div>
       <div class="main-info">
        <p>If you don't have an account with this App you can not see the Dashboard, when you register.
             after a successful registration you will be directed
            to the login page, where you are to provide your registered email and password. If your details are valid you will be directed to the Dashbord.
            If you are done with your task you can logout.
        </p>
   
       </div>
    
    <%- include('partials/footer') -%>
