<%- include('partials/head') -%>
        
    <div class="head">
       <h1>Registration Page</h1>
    </div>
    <nav>
        <form action="logout" method="post">
            <button><a href="/">Home</a></button>
        </form>
    </nav>

    <div class="alert">
        <%  if(message.length >0){ %>
            <div><h2 class="danger"><%= message %></h2></div>
       <% }%>
    </div>
  
    <div class="main-content">
        <div class="form-group">
            <form action="register" method="post">
   <label for="username">Username</label>
    <input type="text" id="username" name="username" autocomplete="off" required>  

    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="off" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" autocomplete="off" required>

    <input type="submit" value="Submit">
    <a href="/login"> Already have account? Login</a>

            </form>
        </div>
    </div>
    
    <%- include('partials/footer') -%>
